/** Write your CSS in here **/
body {
  background-color: olivedrab;
}

.outerContainer {
  background-color: white;
  margin: 100px;
  padding: 100px;
}

.quoteContainer {
  align-self: right;
  position: absolute;
}

.outerContainer p {
  color: olivedrab;
  text-align: right;
  font-size: 16px;
  font-weight: bolder;
  display: inline-block;
  width: 500px;
  align-content: right;
}

.btn {
  background-color: olivedrab;
  color: white;
  align-self: left;
  padding: 20px 30px;
  border: none;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  margin: 20px;
  display: inline-block;
}
